@charset "UTF-8";     /* 文書の文字エンコードを指定 */


/* bodyの設定 */
body{
    font-family: meiryo;
    font-size: 20px;
    background-color: #0E7AC4;
}

/* フォームの設定 */
.form_setting{
    margin-top: 20px;
}

/* リストボックス、チェックボックス、ラジオボタンにカーソルを当てるときの設定 */
select,label, input[type='checkbox'],input[type='radio'] {
    cursor: pointer;    /* カーソルを当てたとき、リンクカーソルになる */
}

/* テキストボックスの設定 */
input[type=text]{
    font-size: 17px;
    border-radius: 3px;   /* ボックスの4つの角を丸める設定 */
    font-family: meiryo;  /* フォントをメイリオに設定 */
}

/* リセットボタンの設定 */
input[type=reset]{
    margin-left: 230px;   /* 要素間の間隔の設定 */
}

/* 完了ボタンの設定 */
input[type=submit]{
    margin-left: 70px;
}

/* テキストエリアの設定 */
textarea{
    resize:none;
    font-size: 17px;
    border-radius: 3px;
    font-family: meiryo;
}

/* リストボックスの設定 */
select{
    font-family: meiryo;
    font-size: 15px;
    border-radius: 3px;
}


/* 見出しの設定 */
h1{
    text-align: center;
    letter-spacing: 8px;
    padding: 20px 20px 10px 20px;   /* 要素内の余白の設定　*/
    margin-bottom: 5px;
    background-color:#FBA848;
    font-size: 40px;
    color: #FFFFFF;
    width: 820px;
    margin: 0 auto;
    border-radius: 5px;
}






/* ページ全体の設定 */
.main{
    margin: 0 auto;         /* コンテンツをページの中央に配置する設定 */
    margin-top: 5px;
    padding-bottom: 25px;
    padding-top: 50px;
    padding-left: 50px;
    width: 810px;
    background-color:#ECEEF1;
    border-radius: 5px;
    letter-spacing: 1px;    /* 文字の間隔の設定 */
}

/* 項目の設定 */
.menu{
    float: left;
    padding-left: 10px;
}

/* 入力する場所の設定 */
.input{
    padding-left: 320px;
    margin-bottom: 25px;
}

/* フローとの解除 */
.clear{
    clear: both;
}


/* 全てのボタン共通の設定 */
.btn{
    background-color: #58BE89;
    color: #fff;
    font-size: 35px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}


/* ｢必須｣の文字の設定 */
.require{
    float: right;
    color: #FFFFFF;
    background-color: #FF7F50;
    width: 50px;
    position: relative;     /* 基準位置からの相対位置での配置 */
    right: 540px;
    bottom: 3px;
    padding: 3px 0px 3px 6px;
    border-radius: 5px;
}

/* ｢複数可｣の設定 */
.notrequire{
    float: right;
    color: #FFFFFF;
    background-color:#4387e9;
    width: 70px;
    position: relative;
    right: 540px;
    padding: 3px 0px 3px 6px;
    top: 30px;
    border-radius: 5px;
}
